music_platform_artist_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:a="http://music-platform.com/artists"
           targetNamespace="http://music-platform.com/artists"
           elementFormDefault="qualified">
    
    <!-- Elementas 'artists', naudojamas pagrindinėje schemoje -->
    <xs:element name="artists">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="artist" type="a:fullArtistType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- 2. Prasmingas sąrašo tipas (list type) -->
    <!-- Leidžia dainos žanrą nurodyti kaip sąrašą-->
    <xs:simpleType name="genreListType">
        <xs:list itemType="a:genreType"/>
    </xs:simpleType>
    
    <!-- Paprastas tipas, apibrėžiantis galimas žanrų reikšmes -->
    <xs:simpleType name="genreType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Jazz"/>
            <xs:enumeration value="Pop"/>
            <xs:enumeration value="Rock"/>
            <xs:enumeration value="Classical"/>
            <xs:enumeration value="Bossa-Nova"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- 4. Sudėtingi tipai su sudėtingu turiniu -->
    
    <!-- Bazinis tipas atlikėjo informacijai -->
    <xs:complexType name="baseArtistInfo">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="home_country" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- 4.2. Išvestas praplėtimu (extension) iš bazinio tipo (baseArtistInfo) -->
    <!-- Pilnas atlikėjo tipas, pridedantis debiuto metus, albumus ir atributus -->
    <xs:complexType name="fullArtistType">
        <xs:complexContent>
            <xs:extension base="a:baseArtistInfo">
                <xs:sequence>
                    <xs:element name="debut_year" type="xs:gYear"/>
                    <!-- 6. Sudėtingas tipas su mišriu turiniu (mixed content) -->
                    <!-- galima pridėti biografiją: <a:biography>Laufey is a singer from <a:country>Iceland</a:country>.</a:biography> -->
                    <xs:element name="biography" type="a:mixedContentType" minOccurs="0"/>
                    <xs:element name="albums">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="album" type="a:albumType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="id" type="xs:ID" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- 6. Sudėtingas tipas su mišriu turiniu -->
    <xs:complexType name="mixedContentType" mixed="true">
        <xs:sequence>
            <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Albumo tipas -->
    <xs:complexType name="albumType">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            
            <!-- 7. choice valdymo struktūra -->
            <!-- Leidžia nurodyti albumo tipą kaip vieną iš dviejų galimų variantų -->
            <xs:choice maxOccurs="3">
                <xs:element name="type" type="a:albumTypeEnum"/>
                <xs:element name="format" type="a:albumFormatEnum"/>
            </xs:choice>
            
            <xs:element name="release_date" type="xs:date"/>
            
            <!-- 3.1. Sudėtingas tipas su paprastu turiniu (išvestas apribojimu) -->
            <!-- Naudojamas songNumberWithLimitType, kuris apriboja dainų skaičių -->
            <xs:element name="song_number" type="a:songNumberWithLimitType"/>
            
            <xs:element name="songs" type="a:restrictedSongsType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
    
    <!-- Paprasti tipai 'choice' struktūrai -->
    <xs:simpleType name="albumTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Album"/>
            <xs:enumeration value="Mini-album"/>
            <xs:enumeration value="Single"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="albumFormatEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Digital"/>
            <xs:enumeration value="CD"/>
            <xs:enumeration value="Vinyl"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- 3.1. Bazinis tipas dainų skaičiui (sudėtingas su paprastu turiniu) -->
    <xs:complexType name="songNumberBaseType">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
                <xs:attribute name="approximate" type="xs:boolean" default="false"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- 3.1. Išvestas apribojimu (restriction) iš bazinio tipo (songNumberBaseType) -->
    <!-- Apriboja maksimalią reikšmę iki 100 ir fiksuoja 'approximate' atributą -->
    <xs:complexType name="songNumberWithLimitType">
        <xs:simpleContent>
            <xs:restriction base="a:songNumberBaseType">
                <xs:maxInclusive value="100"/>
                <xs:attribute name="approximate" type="xs:boolean" use="prohibited"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- 4.1. Sudėtingas tipas su sudėtingu turiniu (išvestas apribojimu) -->
    
    <!-- Bazinis tipas dainų sąrašui, leidžiantis iki 50 dainų -->
    <xs:complexType name="baseSongsType">
        <xs:sequence>
            <xs:element name="song" type="a:songType" minOccurs="1" maxOccurs="50"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- 4.1. Išvestas apribojimu (restriction) iš baseSongsType -->
    <!-- Apriboja dainų skaičių iki 20 -->
    <xs:complexType name="restrictedSongsType">
        <xs:complexContent>
            <xs:restriction base="a:baseSongsType">
                <xs:sequence>
                    <xs:element name="song" type="a:songType" minOccurs="1" maxOccurs="20"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- 5. Apribojimo principo pažeidimo pavyzdys (komentaruose) -->
    <!-- 
         KLAIDINGAS APRIBOJIMAS:
         <xs:restriction base="a:baseSongsType">
         <xs:sequence>
         <xs:element name="song" type="a:songType" minOccurs="0" maxOccurs="60"/>
         </xs:sequence>
         </xs:restriction>
         
         Pataisymas: Naujos ribos turi būti bazinio tipo ribų poaibis. Pvz., minOccurs="1" maxOccurs="20" yra teisingas apribojimas.
    -->
    
    <xs:simpleType name="durationType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{1,2}:\d{2}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Dainos tipas -->
    <xs:complexType name="songType">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="genre" type="a:genreListType"/>
            <xs:element name="duration" type="a:durationType"/>
        </xs:sequence>
        <xs:attribute name="track_number" type="xs:positiveInteger" use="required"/>
    </xs:complexType>
         
 </xs:schema>